<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.CenterMapper">

	<!-- <insert id="insertQna">
		insert into qna(m_idx,qna_name,qna_subject,qna_content,qna_type) 
		values(#{m_idx},#{qna_name},#{qna_subject},#{qna_content},#{qna_type})
	</insert> -->
	
	
	
	<insert id="insertQna">
		insert into qna(m_idx,qna_name,qna_subject,qna_content,qna_type,qna_re_ref,qna_re_lev,qna_re_seq) 
		values(#{m_idx},#{qna_name},#{qna_subject},#{qna_content},#{qna_type},#{qna_re_ref},#{qna_re_lev},#{qna_re_seq})
	</insert>
	

	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(qna_idx) from qna
	</select>
	
	<select id="getQnaList" resultType="com.itwillbs.domain.QnaDTO">
		select * from qna order by qna_re_ref DESC, qna_re_seq ASC limit #{startRow},#{pageSize}
	</select>
	
	<select id="getQnaCount" resultType="java.lang.Integer">
		select count(*) from qna
	</select>
	
	<select id="getIncrementNum" resultType="java.lang.Integer">
		SELECT auto_increment FROM information_schema.tables 
		WHERE table_name='shushu' AND table_schema=DATABASE();
	</select>
	
	<update id="setQna_re_seq">
		UPDATE qna SET qna_re_seq = qna_re_seq+1
		WHERE qna_re_ref=#{qna_re_ref} AND qna_re_seq>#{qna_re_seq}
	</update>
	
	<insert id="insertReplyAricle">
		INSERT into qna(qna_name,qna_subject,qna_content,qna_type,qna_re_ref,_qna_re_lev,qna_re_seq) 
		values(#{qna_name},#{qna_subject},#{qna_content},#{qna_type},#{qna_re_ref},#{re_lev}+1,#{re_seq}+1)
	</insert>
	
</mapper>