<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.ProductMapper">


	<select id="getProductKidsList" resultType="com.itwillbs.domain.ProductDTO">
		select * from product where p_category='KIDS' limit #{startRow},#{pageSize}
	</select>

	
<!-- 	<select id="ProwomenList" resultType="com.itwillbs.domain.productDTO">
		select * from product where p_category = 'WOMEN'
	</select> -->
	<select id="getProductWomenList" resultType="com.itwillbs.domain.ProductDTO">
		select * from product where p_category='WOMEN' limit #{startRow},#{pageSize}
	</select>
	
	<select id="getProductMenList" resultType="com.itwillbs.domain.ProductDTO">
		select * from product where p_category = 'MEN' limit #{startRow},#{pageSize}
	</select>
		<select id="getProductSneakersList" resultType="com.itwillbs.domain.ProductDTO">
		select * from product where p_category = 'MEN' and p_small_category = '스니커즈' limit #{startRow},#{pageSize}
	</select>
		<select id="getProductGentlemanList" resultType="com.itwillbs.domain.ProductDTO">
		select * from product where p_category = 'MEN' and p_small_category = '구두' limit #{startRow},#{pageSize}
	</select>
		<select id="getProductOutdoorList" resultType="com.itwillbs.domain.ProductDTO">
		select * from product where p_category = 'MEN' and p_small_category = '아웃도어' limit #{startRow},#{pageSize}
	</select>
		<select id="getProductRunningList" resultType="com.itwillbs.domain.ProductDTO">
		select * from product where p_category = 'MEN' and p_small_category = '러닝화' limit #{startRow},#{pageSize}
	</select>


	
</mapper>